/* common.css  */  /*
html{
  --primary-text-color: #000;
  --primary-bg-color: #fff;
}

footer {
    --footer-text-color: #fff;
    --fuuter-bg-color: #000;
}  */

/* part 8 lesson-05 
      	html {
      	    --primary-text-color: #000;
      	    --primary-bg-color: #fff;

              --primary-font-family: 'Roboto', sans-serif;
              --primary-font-size: 0.875rem;
      	}  */
		        @import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,600;0,700;1,400;1,700;1,800&family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Nunito:ital,wght@0,400;0,600;1,400&family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,300;0,400;0,700;1,400;1,700&display=swap');
		
		        @import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css");
		
		        @import url("https://cdnjs.cloudflare.com/ajax/libs/modern-normalize/2.0.0/modern-normalize.min.css");
        /* task 12 lesson-6  */
            :root {
                    	    --primary-text-color: #000;
                    	    --primary-bg-color: #fff;
                    	    --primary-font-family: 'Roboto', sans-serif;
                    	    --primary-font-size: 0.875rem;
            	}
    
      	footer {
      	    --footer-text-color: #fff;
      	    --fuuter-bg-color: #000;
      	}
        header a {
          text-decoration: none;
                }